body {
background-color: lightblue;
font-family: Arial;
}
h2 {
text-align: center;
}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th {
background-color: blue;
color: white;
}
td {
background-color: white;
padding: 10px;
